body {
    margin: 0;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-color: #270600;
    background-size: 100vw auto;
}

#content {
    background-color: rgba(255, 255, 255, .4);
    min-height: 100%;
    width: 80%;
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

#search_content {
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 5vh;
    vertical-align: bottom;
    height: 10vh;
}

#logo {
    width: 75%;
    max-width: 400px;
    margin-bottom: 5px;
}

#search {
    width: 80%;
    max-width: 500px;
    font-size: 15pt;
    vertical-align: bottom;
    padding-left: 10px;
}

#search_button {
    font-size: 15pt;
    vertical-align: bottom;
}

#memes {
    width: 90%;
    height: 85vh;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

#memes_small {
    width: 100%;
    height: 20%;
    margin: 1% auto 0 auto;
}

.meme {
    width: 20%;
    min-width: 200px;
    max-height: 100px;
    max-width: 20%;
    float: left;
    overflow: hidden;
}

.meme img {
    width: 100%;
}

#display {
    width: 100%;
    height: calc(70% - 8px);
    text-align: center;
    padding: 4px;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#display img {
    max-width: 70%;
    max-height: 100%;
    padding: 0;
    vertical-align: middle;
    margin: 0;
}

#display .keywords_display {
    max-width: 20%;
    height: 100%;
    text-align: left;
    float: right;
}

#display #keywords_div {
    height: 80%;
    display: block;
    overflow-y: scroll;
}

#display .keywords {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#display .keyword {
   margin-left: 5%;
}

#display .title {
    margin-bottom: 5px;
}